
body{
    text-align: center;
}
.colors{
    width:100px;
    height: 100px;
    border-radius:20% ;
    border: 10px solid black;
    margin-right: 20px;
}
.boxes{
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.pink{
    background-color: palevioletred;
}
.green{
    background-color:cadetblue;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: rgb(57, 121, 217);
}
.flash{
    background-color:white ;
}
.userFlash{
    background-color: green;
}